.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/24/74/zgeTuV.jpg");
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginInput {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.loginButton {
  background-color: red;
  bottom: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
